body {
  font-family:arial;
  color:#999;
  background:url(images/whitey.png);
}

a {
  text-decoration:none;
  font-family:helvetica;
}
  a.edit, a.delete {
    width:16px;
    height:16px;
    float:left;
    margin:0px 4px 0px 2px;
  }
  a.edit {
    background:url(images/edit.png);
  }
  a.delete {
    background:url(images/trash.png);    
  }

.on.right {
  float:right;
}  

ul {
  margin-top:10px;
}

ul, li {
  margin:0px;
  padding:0px;
  width:98%;
  margin:0px auto;
}

  li {
    border-bottom:solid 1px #CCC;
    list-style:none;
  }

    li:hover .actions {
      visibility:visible;
    }

    li input[type=checkbox]{
      float:right;
    }

header {}
  header h1 {
    padding:25px;
    background:#F7F7F7;
    text-shadow: 1px 1px 0px #FFF;
    border-bottom:solid 1px #DDD;
  }

#new-todo{
  border-radius:30px;
  border:solid 1px #CCC;
  outline:none;
  background:url(images/todo.png) no-repeat 522px 8px;
  box-shadow:1px 1px 1px #EEE;
}

.todo {
  padding:10px 0px;
}
  .todo form{
    display:none;
  }

  .actions {
    visibility:hidden;
  }

  .editing .content {
    display:none;
  }

  .todo span {
    width:15px;
    overflow:hidden;
  }
  .done {
/*    background:lightyellow;*/
  }
  .done span {
    text-decoration:line-through;
    color:#CCC;
    
  }

  .delete {
    color:gray;
    left:200px;
    font-size:12px;
    color:maroon;
  }
  .cancel {
    font-size:11px;
    color:maroon;
  }

#app {
  width:600px;
  margin:0px auto;
  background:#FFF;
  border:solid 0px #FFF;
  box-shadow:1px 1px 10px #999;
  margin-top:30px;
  padding-bottom:1px;
}
  #app .contents {
    margin:25px;
  }

  #app input[type=text] {
    width:100%;
    padding:10px;
  }
  #app .editing {
    /*    
    background:yellow;
    padding:10px;
    border:solid 2px #DDD;
    box-shadow:1px 1px 1px #000;
    */
  }

  #app .editing form{
    display:inline;
    width:75%;
    padding:0px;
    color:green;
  }
  
  
footer {
  width:585px;
  margin:10px auto;
  padding:0px 25px;
  font-size:12px;
}

  footer a {
    color:#999;
    text-decoration:underline;
  }



  button {
    cursor:pointer;
  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  	background-color:#f9f9f9;
  	-moz-border-radius:41px;
  	-webkit-border-radius:41px;
  	border-radius:41px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	color:#666666;
  	font-family:arial;
  	font-size:12px;
  	font-weight:normal;
  	padding:3px 18px;
  	text-decoration:none;
  	text-shadow:1px 1px 0px #ffffff;
  }
  button:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  	background-color:#e9e9e9;
  }
  button:active {
  	position:relative;
  	top:1px;
  }